body {
	margin: 0px;
	overflow:auto;
}

body > div {
	display: table-cell;
}

#leafletMapHolder {
	width: 100%;
}

#leafletMap { 
	height:100vh;
	width: 100%;
}

#infoPanelHolder {
	padding: 8px;
	height: calc(100vh - 16px);
	vertical-align: top;
}

#infoPanel {
	width: 200px;
	display: table;
	height: 100%;
}

#infoPanel > div {
	display: table-row;
}

#totalPopulation {
	height: 2em;
}

#cityListingHolder {
	height: 100%;
	overflow:auto;
}

#cityListing {
	height: 100%;
	overflow-y: auto;
}
